html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: "Rubik", sans-serif;
  }
  /*utilitarias*/
.container{
    width: 80%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    }
    .btn {
        display: inline-block;
        text-decoration: none;
        font-size: 1rem;
        padding: 0.5em;
        margin: 0 0.1em;
        border-radius: 0.5em;
      }
 
    
    .btn-danger {
        color: wheat;
        background-color: #003566;
    }
    
    .btn-info {
        color: black;
        background-color: #DDF2CE;
    }
    
    .btn-dark {
        color: white;
        background-color: #45453C;
    }
    .btn-danger:hover{
      background-color: wheat;
      color: black;
      border-radius: 0.5em;
      cursor: pointer;
    }
    
      .bg-header{
        background-image: url('../media/bg-header-min.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    
      }
    
    
hr{
  background-color: #555;

}

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;

      }
    @media(min-width: 768px){
      .navbar {
        flex-direction: row;
        justify-content: space-between ;

      }
    }
      .navbar-brand{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: wheat;
        font-size: 2rem;
        text-decoration: none;
        font-weight: 500px;
        margin-bottom: 1rem;
      }
    
      @media(min-width:768px){
        .navbar-brand{
          flex-direction: row;
          margin-bottom: 0;
        }
      }
      .navbar-brand img{
        width: 2em;
      }
      .navbar-nav{
        padding: 1em;
        border-radius: 0.3em;
      }
      .nav-link{
        display: inline-block;
        padding: 0.3em;
        text-decoration: white;
        color: #003566;
      }
      .nav-link:hover{
        background-color: white;
        color: wheat;
        border-radius: 0.5em;
      }
      @media (min-width:768px){
        .tienda{
          display: flex;
          gap: 1em;
        }
      }
      .main{
        background-color: white;
        padding: 0.3em;
        margin-top: -1em;
        border-radius: 0.3em;
        
      }
      .main-title{
        text-align: center;
        text-transform: uppercase;
      }
      
.card {
    background-color: #fff;
    box-shadow: 0 1px 2px #ddd;
    border: solid 1px #ddd ;
    border-radius: 0.5em; 
    padding: 20px 30px;
    overflow: hidden;
   


}

    

    .card-img {
        width: 100%;
    }
    
    .card-body {
        padding: 1em;
    }
    
    .card-body h2 {
        font-size: 1.5rem;
        margin: 1em 0;
        font-weight: 500;
    }
    .card-body p {
      font-weight: 200;
    }


/*formulario*/

form {
  font-family: sans-serif;
  font-size: 16px;
}

.label {
  display: block;
  margin-top: 0.5em;
  font-weight: 700;
}

.form-text {
  width: 90%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

form textarea {
  height: 150px;
}

form button {
  background-color: #003566;
  color: wheat;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 90%;
}

form button:hover {
  background-color: blue;
  
}


@media (max-width: 800px) {
  form {
    font-size: 14px;
  }
  
  .form-text  {
    width: 80%;
  }
  form button {
      width: 82%;
  }
}



/*footer*/

footer {
  background-color: #003566;
  color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 80%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  margin-top: 10px;

}

/* Estilos para las redes sociales */
.redes-sociales {
  display: flex;
}

.redes-sociales a {
  color: wheat;
  margin: 0.2em 0.5em;
  background-color: white;
  box-shadow: 30px;
  border-radius: 10px;
}

/* Estilos para el mensaje de agradecimiento */
.mensaje-agradecimiento {
  text-align: right;
  margin-right: 1rem;
}
.social {
  background-color: #fff;
  
  border-radius: 15px;
}

@media (min-width:768px){
  footer{
    display: flex;
    gap: 1em;
  }
}

.warning{
  font-weight: 700;
  font-family: "Rufina", sans-serif;
  font-size: 2rem;
  color: red;
  
}