html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: "Rubik", sans-serif;
  }
  /*utilitarias*/
.container{
    width: 80%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    }
    .btn {
        display: inline-block;
        text-decoration: none;
        font-size: 1rem;
        padding: 0.5em;
        margin: 0 0.1em;
        border-radius: 0.5em;
      }
 
    
    .btn-danger {
        color: wheat;
        background-color: #003566;
    }
    

    

    .btn-danger:hover{
      background-color: wheat;
      color: black;
      border-radius: 0.5em;
      cursor: pointer;
    }
    
      .bg-header{
        background-image: url('../media/bg-header-min.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    
      }
    
    
hr{
  background-color: #555;

}

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;

      }
    @media(min-width: 1000px){
      .navbar {
        flex-direction: row;
        justify-content: space-between ;

      }
    }
    @media screen and (max-width: 527px) {
      .navbar{
        width: 50%; /* Establecemos el ancho del elemento en el 50% para que se vea centrado */
        margin: auto; /* Aplicamos la propiedad margin: auto para centrar el elemento */
      }
    }
      .navbar-brand{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: wheat;
        font-size: 2rem;
        text-decoration: none;
        font-weight: 500px;
        margin-bottom: 1rem;
      }
    
      @media(min-width:768px){
        .navbar-brand{
          flex-direction: row;
          margin-bottom: 0;
        }
      }

      
      .navbar-brand img{
        width: 2em;
      }
      .navbar-nav{
        padding: 1em;
        border-radius: 0.3em;
      }
      .nav-link{
        display: inline-block;
        padding: 0.3em;
        text-decoration: white;
        color: #003566;
      }
      .nav-link:hover{
        background-color: white;
        color: rgb(14, 2, 66);
        border-radius: 0.5em;
      }
      @media (min-width:768px){
        .tienda{
          display: flex;
          gap: 1em;
        }
      }

      .main{
        background-color: white;
        padding: 0.3em;
        margin-top: -1em;
        border-radius: 0.3em;
        
      }
      .main-title{
        text-align: center;
        text-transform: uppercase;
      }
      
.card {
    background-color: #fff;
    box-shadow: 0 1px 2px #ddd;
    border: solid 1px #ddd ;
    border-radius: 0.5em; 
    padding: 20px 30px;
    overflow: hidden;
   


}

    

    .card-img {
        width: 100%;
    }
    
    .card-body {
        padding: 1em;
    }
    
    .card-body h2 {
        font-size: 1.5rem;
        margin: 1em 0;
        font-weight: 500;
    }
    .card-body p {
      font-weight: 200;
    }


/*formulario*/

form {
  font-family: "Rufina",sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  width: 80%;/* Aplicamos la propiedad margin: auto para centrar el formulario */
}
.bg-body {
  background: linear-gradient(to right, #8e44ad, #3498db);
  animation: gradient 15s ease infinite;
}
.container-form {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.label {
  display: block;
  margin-top: 0.5em;
  font-weight: 700;
  color: rgb(10, 7, 0);
}

.form-text {
  width: 90%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.white-letters{
  color: white;
}
form textarea {
  height: 150px;
}

form button {
  background-color: #003566;
  color: wheat;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 90%;
  
}

form button:hover {
  background-color: rgb(14, 2, 66);
  
}
.form-h2{
  font-family: "rufina",sans-serif;
  font-weight: 700;
}


@media (max-width: 800px) {
  form {
    font-size: 14px;
  }
  
  .form-text  {
    width: 80%;
  }
  form button {
      width: 80%;
  }
}
@media screen and (max-width: 400px) {
  form{
    width: 80%; /* Establecemos el ancho del elemento en el 50% para que se vea centrado */
    margin: auto; /* Aplicamos la propiedad margin: auto para centrar el elemento */
  }
}



/*footer*/

footer {
  background-color: #003566;
  color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 80%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  margin-top: 5px;

}

/* Estilos para las redes sociales */
.redes-sociales {
  display: flex;
}

.redes-sociales a {
  color: wheat;
  margin: 0.2em 0.5em;
  background-color: white;
  box-shadow: 30px;
  border-radius: 10px;
}

/* Estilos para el mensaje de agradecimiento */
.mensaje-agradecimiento {
  text-align: right;
  margin-right: 1rem;
}
.social {
  background-color: #fff;
  
  border-radius: 15px;
}

@media (min-width:768px){
  footer{
    display: flex;
    gap: 1em;
  }
}
@media screen and (max-width: 400px) {
  footer {
    display: flex;
    gap: 1em;
  }
}
/*E-mail enviado*/
.card-saludo{
  width: 50%;
  display: block;
  margin: 0 auto;
}

.h2{
  font-weight: 700;
  font-family: "Rufina",sans-serif;
  text-align: center;

}
.blinking-text {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden-text {
  visibility: hidden;
}
.saludo {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color:#003566 ;
  
  
}

/*programas*/
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /*permite que las tarjetas se envuelvan en dispositivos más pequeños */
}


.card-proyectos {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  opacity: 0;
  animation: appear 1s ease-in-out forwards;

  width: 300px;
  height: auto;
}

.card-1 {
  animation-delay: 0.5s;
}
.card-2 {
  animation-delay: 1s;
}
.card-3 {
  animation-delay: 1.5s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .card {
    width: 100%; /*Cambiando el ancho a 100%*/
    box-shadow: none;
    margin-top: 1rem;
    
  }
}

/*header proyectos */

.title {
  font-size: 3em;
  color: #003566;
  transition: color 0.5s ease-in-out;
  position: relative; /* o absolute */
  width: 100%;
  text-align: center;
}

.title:hover {
  color: #ffa600; /*color al pasar el mouse por encima*/
}